<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Counter</title>
    <script src="https://unpkg.com/react@^16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16.13.0/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>

  <body>
    <div id="root"></div>

    <script type="text/babel">
      // TODO : Counter exercise

      class ColorComponent extends React.Component {
        render() {
          const { color } = this.props;
          let content;
          if (!color) {
            content = "You did not supply a color";
          } else if (color === "green") {
            content = "you turned green";
          } else {
            content = color;
          }
          return (
            <p
              style={{
                color,
                backgroundColor,
              }}
            >
              {content}
            </p>
          );
        }
      }

      class App extends React.Component {
        render() {
          return (
            <React.Fragment>
              <ColorComponent color="red" />
              <ColorComponent color="green" />
              <ColorComponent color="purple" />
              <ColorComponent />
            </React.Fragment>
          );
        }
      }

      ReactDOM.render(<App />, document.getElementById("root"));
    </script>
  </body>
</html>
